@define-color rosewater #f4dbd6;
@define-color flamingo #f0c6c6;
@define-color pink #f5bde6;
@define-color mauve #c6a0f6;
@define-color red #ed8796;
@define-color maroon #ee99a0;
@define-color peach #f5a97f;
@define-color yellow #eed49f;
@define-color green #a6da95;
@define-color teal #8bd5ca;
@define-color sky #91d7e3;
@define-color sapphire #7dc4e4;
@define-color blue #8aadf4;
@define-color lavender #b7bdf8;
@define-color text #cad3f5;
@define-color subtext1 #b8c0e0;
@define-color subtext0 #a5adcb;
@define-color overlay2 #939ab7;
@define-color overlay1 #8087a2;
@define-color overlay0 #6e738d;
@define-color surface2 #5b6078;
@define-color surface1 #494d64;
@define-color surface0 #363a4f;
@define-color base #24273a;
@define-color mantle #1e2030;
@define-color crust #181926;

* {
	color: @text;
}

.blank-window {
	background: transparent;
}

.notification-action,
.notification-default-action,
.control-center {
	border-radius: 0.75em;
	border: 2px solid alpha(@lavender, 0.3);
	background: alpha(black, 0.5);
}

.notification {
	box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.5);
}


.notification-content {
	margin: 5px;
}

.control-center .notification-row {
	background: alpha(black, 0.2);
}

.widget-dnd {
	font-weight: bold;
	margin: 1em;
}

.widget-dnd>switch {
	border: 1px solid alpha(@lavender, 0.3);
	border-radius: 0.75em;
	background: alpha(black, 0.5);
	padding: 1px;
}

.widget-dnd> switch slider {
	border: 1px solid alpha(@color11, 0.3);
	border-radius: 0.75em;
	background: rgb(15, 15, 15);
	box-shadow: none;
}

.widget-mpris {
	border-radius: 0.75em;
	background: alpha(black, 0.5);
	margin: 1em;
}

.widget-buttons-grid {
	margin: 1em;
	background: alpha(black, 0.5);
}

.widget-buttons-grid>flowbox>flowboxchild>button {
	box-shadow: none;
	color: @text;
	font-style: normal;
	border: 1px solid alpha(@lavender, 0.3);
	background: @background;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
	background: black;
}
